.root svg {
  color: var(--mantine-color-grey-4);
}

.root:hover svg {
  color: var(--mantine-color-purple-3);
}

.input:hover {
  border-color: var(--mantine-color-purple-4);
}

.option[data-checked] {
  background-color: var(--mantine-color-purple-4);
}

.option:not([data-checked]):hover {
  background-color: var(--mantine-color-purple-0);
}
