.container {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 48px;
}

.text {
  font-size: 20px;
  font-weight: 600;
}

.button {
  color: var(--mantine-color-grey-0);
}

.button:hover {
  background-color: var(--mantine-color-purple-3);
}

.button:active {
  background-color: var(--mantine-color-purple-5);
}
